.about_list {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    margin: 0 auto;
    padding-top: 50px;
}
.about_list li {
    margin-bottom: 20px;
}

.about_list li span,
.about_list li h1,
.about_list li h2{
    font-size: 25px;
    font-family: Snell Roundhand, cursive;
}