.logo {
    width: 40px;
    height: 40px;
    fill: white;
}

.Header_list {
    display: flex;
    justify-content: space-between;
    background-color: rgb(14, 22, 33);
    padding: 20px;
    font-size: 15px;
    align-items: center;
}

.Header-logo {
    display: flex;
    align-items: center;
}

.Header-logo span {
    color: whitesmoke;
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 15px;
}

.Header-logo:hover {
    transition: all 0.5s ease;
    transform: scale(1.15);
} 

.Menu_list {
    display: flex;
    justify-content: space-around;
}

.Menu_list li{
    padding-right: 20px;
}

.Menu_list li a,
.authorization_list li a {
    color: rgb(255, 255, 255);
    margin-right: 15px;
}

.Menu_list li a:hover,
.authorization_list li a:hover{
    color: rgb(255, 136, 0);
}

.authorization {
    display: flex;
    align-items: center;
    color: rgb(255, 255, 255);
} 

.button_logout {
    border: medium none;
	background-image: none; 
	background: transparent;
	float: left;
	background-color: transparent;
    color: rgb(255, 255, 255);
    margin-left: 15px;
    font-size: 15px;
}

.button_logout:hover {
    color: rgb(255, 136, 0);
}

.user_info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 15px;
}

.basket_list {
    position: relative;
}

.basket {
    width: 32px;
    height: 32px;
    fill: white;
    color: white;
}

.length_cart {
    color: rgb(4, 252, 4);
    font-size: 12px;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: ani 2.5s forwards;
}


@keyframes ani {
  0% {opacity: 0;}
  100% {opacity: 1;}
}