{% extends 'base.html' %}
{% load static %}

{%block style %}
    <link rel="stylesheet" href="{%static 'style.css'%}">
{% endblock %}

{% block content %}
<div class="Add_product">
    <a href="{% url 'add_product' %}" class="link_create_product">Add Product</a>
</div>
<ul class = "product_list">
    {% for item in page_obj %}
        <li class="product_item">
            <ul class="product_item_list">
                <li class="item_image">
                    {% if item.image %}
                        <img src="{{item.image.url}}" alt="" class="product_image">
                    {% else%}
                        <img src="../static_source/logo.svg" alt="">
                    {% endif %}
                </li>
                <li class="item_name">{{item.name}}</li>
                <li class="item_price"> Price: {{item.price}} Kč</li>
                <li class="item_quantity_available">
                    <span>In stock - {{item.quantity_available}} pcs</span>
                </li>
                <li class="item_description"><span class="span_description">{{item.description}}</span></li>
                <li class="update_and_delete">
                    <a href="{% url 'product_update' item.pk %}" class="link_update">Update</a>
                    <form method="post" action="{% url 'product_delete' item.pk %}">
                        {% csrf_token %}
                        <input type="hidden" name="delete_id" value="{{ item.pk }}">
                        <input type="submit" value="Delete" class="delete_product">
                    </form>
                </li>
            </ul>
        </li>
    {% endfor %}
</ul>
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>
        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
    </div>
{% endblock %}

