{% extends 'base.html' %}
{% load static %}

{%block style %}
    <link rel="stylesheet" href="{%static 'style.css'%}">
{% endblock %}

{% block content %}
<ul class = "product_list">
    {% for item in page_obj %}
        <li class="product_item">
            <ul class="product_item_list">
                <li class="item_image">
                    {% if item.image %}
                        <img src="{{item.image.url}}" alt="" class="product_image">
                    {% else%}
                        <img src="../static/logo.svg" alt="">
                    {% endif %}
                </li>
                <li class="item_name">{{item.name}}</li>
                <li class="item_price"> Price: {{item.price}} Kč</li>
                <li class="item_quantity_available">
                    <span>In stock - {{item.quantity_available}} pcs</span>
                    <form action="{% url 'add_to_cart'%}" method="post" class="add_to_purchase">
                        {% csrf_token %}
                        <input type="hidden" name="product_id" value="{{ item.pk }}">
                        <input type="number" name="quantity" value="1" min="1" class="quantity_product">
                        <button type="submit" class="button_basket"><img src="../static/basket.svg" alt=""></button>
                    </form>
                </li>
                {% if messages %}
                    {% for message in messages %}
                            {% if message.extra_tags == item.id|stringformat:"s" %}
                                <li class="message">
                                    {{ message }}
                                </li>
                            {% endif %}
                    {% endfor %}
                {% endif %}
                <li class="item_description"><span class="span_description">{{item.description}}</span></li>
            </ul>
        </li>
    {% endfor %}
</ul>
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>
        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
    </div>
{% endblock %}
