{% extends 'base.html' %}
{% load static %}

{%block style %}
    <link rel="stylesheet" href="{%static 'style.css'%}">
{% endblock %}
{%block header%}

{%endblock%}


{% block content %}
<ul class = "product_list">
    {% for item in object_list %}
        <li>
            <ul>
                <li>
                    <img src="../static/logo.svg" alt="" class="logo">
                </li>
                <li>{{item.name}}</li>
                <li>{{item.description}}</li>
                <li>{{item.price}}</li>
                <li>{{item.quantity_available}}</li>
            </ul>
        </li>
    {% endfor %}
</ul>
{% endblock %}
