{% extends 'base.html' %}
{% load static %}

{%block style %}
    <link rel="stylesheet" href="{%static 'style.css'%}">
{% endblock %}
{%block header%}
 Тут будет хедер
{%endblock%}


{% block content %}
<ul class="login_list">
    <Li>
        <h1>Login</h1>
    </Li>
    <li>
        <form method="post" class="login_form">
            {% csrf_token %}
            {{ form }}
            <input type="submit" value="Login" class="login_input">
    </form>
    </li>
    <li>
        <span>Don't have an account?<a href="{% url 'register' %}">Register</a></span>
    </li>
</ul>
{% endblock %}