{% extends 'base.html' %}
{% load static %}

{%block style %}
    <link rel="stylesheet" href="{%static 'style.css'%}">
{% endblock %}

{% block content %}
<ul class="purchase_list">
{% if purchase_history_items|length == 0 %}
         <img src="../static_source/noorders.png" alt="noorders" class="noorders">
        <li>Purchase list is empty</li>
    {% else %}
        {% for history_item in purchase_history_items %}
            <li class="purchase_item">
                <h1>{{ history_item.product.name }}</h1>
                <ul class="purchase_item__list">
                    <li class="purchase_item_image">
                        {% if history_item.product.image %}
                            <img src="{{ history_item.product.image.url }}" alt="Product Image" class="purchase_product_image">
                        {% else %}
                            No image available<br>
                        {% endif %}
                    </li>
                    <li class="purchase_item_content">
                        <ul class="purchase_content__list">
                            <li class="purchase_content_description">
                                {{ history_item.product.description }}
                            </li>
                            <li class="purchase_content_price">
                                <span>{{history_item.quantity}} x {{ history_item.product.price }} = {{ history_item.total_price }}</span>

                            </li>
                            {% if not history_item.ret and not history_item.not_returnable %}
                                <li class="purchase_history_list">
                                    <form action="{% url 'add_to_return' %}" method="post" class="add_to_purchase_history">
                                        {% csrf_token %}
                                        <input type="hidden" name="purchase_id" value="{{ history_item.pk }}">
                                        <button type="submit" class="return_order">Return order</button>
                                    </form>
                                </li>
                            {% endif %}
                            {% if messages %}
                                {% for message in messages %}
                                    {% if message.extra_tags == history_item.id|stringformat:"s" %}
                                        <span class="message">
                                            {{ message }}
                                        </span>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        </ul>
                    </li>
                </ul>
            </li>
        {% endfor %}
    {% endif %}
</ul>
{% endblock %}