{% extends 'base.html' %}
{% load static %}

{%block style %}
    <link rel="stylesheet" href="{%static 'style.css'%}">
{% endblock %}
{% block content %}
<ul class="registration_list">
    <Li>
        <h1>Create Account</h1>
    </Li>
    <li>
        <span>Already has account? <a href="{% url 'login' %}">Login</a></span>
    </li>
    <li>
        <form method="post" class="registration_form">
            {% csrf_token %}
            {{ form }}
            <input type="submit" value="Register" class="register_input">
        </form>
    </li>
</ul>
{% endblock %}